<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Daily journal</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <div class="header">
          <h1>Ежедневник</h1>
    </div>
    <div class="container">
        <div class="gg ">
            <fieldset class="fieldset">
                <legend>Новая задача</legend>
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                  <dl>
                    {{ render_field(form.name, class="userinput") }}
                      <dt>Описание:</dt>
                    <dd> <textarea class="describe" name="describe" rows="5" placeholder="Введите описание задачи..."></textarea></dd>
                        {% if form.describe.errors %}
                        <ul class="errors">
                            {% for error in form.describe.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                  </dl>
                    <div class="submit-row">
                        <input type=submit value="Создать задачу">
                        <button type="button" onclick="window.location.href='/users/home'">Отмена</button>
                    </div>
                </form>
            </fieldset>
        </div>
        <br />
    </div>
</body>
</html>