<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Daily journal</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <div class="header">
          <h1>Ежедневник</h1>
    </div>
    <div class="container">
        <div>
            <form action="/tasks" method="get" >

                <label>Сортировать:</label>
                <select name={{ html_param.SORTED.name }} onchange="this.form.submit()">
                    {% for key, value in html_param.SORTED.html_map.items()  %}
                        <option value={{ key }} {% if sort_option==key %} selected{% endif %}>{{  value }}</option>
                    {% endfor %}
                </select>

                <label>Фильтровать:</label>
                {% for key, value in html_param.FILTER.html_map.items()  %}
                    <input type="radio" name={{ html_param.FILTER.name }} onchange="this.form.submit()" value={{ key }} {% if filter_option==key %}checked{% endif %}/> {{  value }}
                {% endfor %}

                <label>Поиск:</label>
                <input type="search" name={{ html_param.SEARCH.name }} value="{{ search_query or '' }}" placeholder="Введите название задачи..."/>
                <input type="submit" value="Искать">

            </form>
            <form action="/tasks" method="get" >

            </form>
        </div>
        <table class="customTable">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата создания</th>
                    <th>Завершена</th>
                    <th>Дата завершения</th>
                </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                <tr  onclick="window.location.href='/tasks/{{ task.id }}'" style="cursor: pointer;">
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.describe }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>{{ task.completed }}</td>
                    <td>{{ task.completed_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        <button onclick="window.location.href='/users/home'"> Назад</button>
        </div>
</body>
</html>