<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Daily journal</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <div class="header">
          <h1>Ежедневник</h1>
    </div>
    <div class="container">
        <table class="customTable">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата создания</th>
                    <th>Завершена</th>
                    <th>Дата завершения</th>
                </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                <tr>
                    <a href="../tasks/{{ task.id }}"></a>
                    <td>
                        <a href="../tasks/{{ task.id }}">{{ task.id }} </a>
                    </td>
                    <td>
                        {{ task.name }}
                    </td>
                    <td>
                        {{ task.describe }}
                    </td>
                    <td>
                        {{ task.created_at }}
                    </td>
                    <td>
                        {{ task.completed }}
                    </td>
                    <td>
                        {{ task.completed_at }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        <button onclick="window.location.href='/users/home'"> Назад</button>
        </div>
</body>
</html>